.sidebar{
    width:75px;
    height:100vh;
    float:left; 
    border-right-style: solid;
    border-width:2px;
    background-color:white;
    position:fixed;
    z-index: 100;
}

.Back{
    opacity:0;
    width:30px;
    display:block;
    margin:auto;
    margin-top:15px;
}
.Menu{
    width:30px;
    display:block;
    margin:auto;

    position:relative;
    bottom:-49vh;

}
.name{
    -webkit-transform: rotate(-90deg);
    font-size: 24px;
    font-family: 'Moderne Sans';
    margin-top: 35vh;
    width: 400px;
    margin-left: -6.7em;
    text-decoration: none;
} 
.hidden{
    background-color:#141414;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-300px, 0, 0);  
    text-align:center;
    width: 300px;
    height: 100vh;
    padding-top:10vh;
}
.hidden p{
    font-size:18px;
    font-family:'Moderne Sans';
    color:white;
    padding:15px;
}
.hidden img{
    width:80px;
}
.close{
    transform: translate3d(-300px, 0, 0); 
}
.open{
    transform: translate3d(300px, 0, 0); 
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius:20px;
    display:none; 
  }
.menu-container{
    
    text-align:center;
}
.navMenu:hover{
    color:grey;
}
.navMenu{
    text-decoration:none !important;
}
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */